<div class="row" hidden>
  <div class="col-12 mb-5">
      <div class="card">
          <div class="card-body">
              <!--Agregar Archivo-->
              <div class="row">
                  <div class="col-12">
                      <div class="card">
                          <div class="card-body">
                              <h6 class="card-title">Agregar Información</h6>
                              <div class="row">
                                  <div class="col-2">
                                      <div class="form-floating">
                                          <input type="file" class="form-control" id="file"/>
                                          <label for="file">Cargar Archivo</label>
                                      </div>
                                  </div>
                                  <div class="col-1 mt-3">
                                      <button class="btn btn-primary" >Agregar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br />
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table" id="tablaProyectos">
                      <thead class="table-success">
                        <tr>
                          <th scope="col">Nombre del Archivo</th>
                          <th scope="col">Fecha de carga</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Ticket_020124.xlsx</th>
                          <td>02/01/24 12:00:28</td>
                        </tr>
                        <tr>
                          <th scope="row">Ticket_100124.xlsx</th>
                          <td>10/01/24 20:08:15</td>
                        </tr>
                        <tr>
                          <th scope="row">Ticket_180124.xlsx</th>
                          <td>18/01/2024 11:22:11</td>
                        </tr>
                        <tr>
                          <th scope="row">Ticket_280124.xlsx</th>
                          <td>28/01/2024 16:17:16</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Fin Tabla -->
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- Inicio Tabla -->
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table" id="tablaProyectos">
                <thead class="table-success">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Prioridad</th>
                    <th scope="col">Tech/Gerencia</th>
                    <th scope="col">Área Usuaria</th>
                    <th scope="col">Tipo de Solicitud</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Tipo Ticket</th>
                    <th scope="col">Recurso</th>
                    <th scope="col">Hrs</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">3128</th>
                    <td>19/12/23 12:00</td>
                    <td>19:12:23 12:02</td>
                    <td>Open</td>
                    <td>Medio</td>
                    <td>Individual BIM (Individual)</td>
                    <td></td>
                    <td>Mesa de Sistema: PeticionesAplicaciones</td>
                    <td style="width:210px;">
                      <p>Buena tarde  Solictando su apoyo para fijar
                        el valor de la UDI al día 10 de dic 23 en SAH 
                        para validar la apertura</p>
                    </td>
                    <td>Manuel Ortiz Avila (Manuel Ortiz)</td>
                    <td style="width:150px;">
                      <select class="form-select" id="documentacionProy" ></select>
                    </td>
                    <td style="width:150px;">
                      <select class="form-select" id="documentacionProy"></select>
                    </td>
                    <td>
                      <input type="text" class="form-control" size="1">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3102</th>
                    <td>18/12/23 20:08</td>
                    <td>19:12:23 13:40</td>
                    <td>Open</td>
                    <td>Medio</td>
                    <td>Individual BIM (Individual)</td>
                    <td></td>
                    <td>Mesa de Sistema: PeticionesAplicaciones</td>
                    <td style="width:210px;">
                      <p>Buena noche Por favor de su apoyo con las
                        correcciones indicadas. Gracias
                      </p>
                    </td>
                    <td>Flor Patricia Garduño Hernández (Flor.Garduño)</td>
                    <td style="width:150px;">
                      <select class="form-select" id="documentacionProy" ></select>
                    </td>
                    <td style="width:150px;">
                      <select class="form-select" id="documentacionProy"></select>
                    </td>
                    <td>
                      <input type="text" class="form-control" size="1">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3054</th>
                    <td>18/12/2023 11:22</td>
                    <td>18/12/2023 11:23</td>
                    <td>Open</td>
                    <td>Medio</td>
                    <td>Individual BIM (Individual)</td>
                    <td></td>
                    <td>Mesa de Sistema: PeticionesAplicaciones</td>
                    <td style="width:210px;">
                      <p>Buena tarde 
                        Por favor de su apoyo con la aplicación de los excedentes como abono a capital. 
                        Saludos                         
                      </p>
                    </td>
                    <td>Flor Patricia Garduño Hernández (Flor.Garduño)</td>
                    <td style="width:150px;">
                      <select class="form-select" id="documentacionProy" ></select>
                    </td>
                    <td style="width:150px;">
                      <select class="form-select" id="documentacionProy"></select>
                    </td>
                    <td>
                      <input type="text" class="form-control" size="1">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3027</th>
                    <td>15/12/2023 16:17</td>
                    <td>18/12/2023 13:37</td>
                    <td>Resolved</td>
                    <td>Medio</td>
                    <td>Individual BIM (Individual)</td>
                    <td></td>
                    <td>Mesa de Sistemas : Accesos</td>
                    <td style="width:210px;">
                      <p>   Buenas Tardes.
                        Anexo el calendario mensual de cierre de SIBA para el 2024.
                        Saludos
                      </p>
                    </td>
                    <td>Carlos Alberto Resen (Carlos.Resendiz)</td>
                    <td style="width:150px;">
                      <select class="form-select" id="documentacionProy" ></select>
                    </td>
                    <td style="width:150px;">
                      <select class="form-select" id="documentacionProy"></select>
                    </td>
                    <td>
                      <input type="text" class="form-control" size="1">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Fin Tabla -->
      </div>
    </div>
  </div>
</div>